#footer{
    height: 350px;
    background-color: rgb(10,10,10);
    padding: 30px 20px;
    text-align: center;
    color: #fff;
}

#footer a{
    transition: 0.4s ease;
    color: #fff;
}

#footer-nav {
    background-color: transparent;
    margin-top: 15px;
    margin-bottom: 15px;
}

#footer-ul {
    list-style-type: none;
}

#footer-ul li a:hover,
#development-info a:hover{
    color: #00FF00;
}

#development-info a{ 
    color: rgb(150,150,150);
}