@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Abel|Saira+Condensed');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Saira Condensed', sans-serif;
  font-family: 'Abel', sans-serif;
  background-color: #dcdcdc;
}

h1,h2,h3,h4,h5,h6{
  font-weight: lighter;
}

nav ul{
  list-style-type: none;
}

a{
	text-decoration: none;
}

li{
  list-style-type: none;
}