.aside-box{
    box-sizing: border-box;
    margin-bottom: 30px;
    transition: 0.1s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    float: right;
    width: 25%;
    height: 400px;
    padding: 20px;
    border-top: 2px solid #22B473;
    background-color: rgb(230,230,230);
}

.email-input {
	width: 90%;
	height: 40px;
	margin-bottom: 20px;
	margin-top: 10px;
	margin-right: 10px;
	padding: 0 10px;
	background-color: rgba(255,255,255,0.8);
	border: none;
	border-radius: 5px;
	font-size: 95%;
}

.focus-style:focus {
	outline: none;
	box-shadow: 0 0 1pt 0.3pt #0AA320;
}
/*TODO uncomment cursor property when done with form*/
.submit-btn {
	transition: 0.4s ease;
	height: 35px;
	width: 80px;
	border-style: none;
	border-radius: 5px;
    background-color: #0AA320;
	color: white;
	text-shadow:none; 
	box-shadow: none;
	font-size: 80%;
    /*cursor: pointer;*/
}

.submit-btn:hover{
    background-color: #00D700;
}

.submit-btn:focus{
	outline: none;
}

@media only screen and (max-width: 1400px) {
    .aside-box{
		height: 343px;
    }
}

@media only screen and (max-width: 1200px) {
    .aside-box{
		height: 285px;        
    }
}

@media only screen and (max-width: 1000px) {
    .aside-box{
		height: 250px;
        clear: both;
        width: 100%;
    }
}