.card-header{
    width:100%;
    height: 140px;
    margin-bottom: 30px;
    margin-top: 20px;
    padding: 10px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 0px 10px 0px rgba(0, 0, 0, 0.19);
}

.card-image{
    float: left;
    height: 80px;
    width: 100px;
    background-color: transparent;
    margin-right: 20px;
}

.card-info-container{
    width: 60%;
    float: left;
}

.view-profile-link{
    color: green;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
    transition: 0.2s ease;
}

.view-profile-link:hover {
    color: #04b849;
    text-decoration: underline;
}