.profile-section{
    float: left;
    width: 70%;
    min-height: 1000px;
    padding-bottom: 50px;
    margin-bottom: 20px;
    background-color: rgba(230,230,230,1);
    box-shadow: 0px 6px 37px -11px rgba(0,0,0,0.83);
    border-top: 2px solid #22B473;
}

@media only screen and (max-width: 1000px) {
    .profile-section {
        width: 100%;
    }
}

.thumbnail-figure{
    float: left;
    height: 80px;
    width: 100px;
    background-color: transparent;
    margin-right: 20px;
}

.product-info-container{
    width: 60%;
    float: left;
}

.custom-link{
    color: green;
    cursor: pointer;
    display: inline-block;
    margin-top: 5px;
    transition: 0.2s ease;
}

.custom-link:hover {
    color: #04b849;
    text-decoration: underline;
}

.thumbnail-img{
    max-height: 100%;
    max-width: 100%; 
    /*
    Always fit to the container (streach):
    height: 100%;
    width: 100%; 
    */
}
