.info-block{
    max-width: 350px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0,0,0, 0.8);
    color: white;
    position: absolute;
    right: 10%;
    top: 31%;
    border-top: 4px solid green;
    z-index: 1001;
}