.load-button{
    clear: both;
    cursor: pointer;
    padding: 10px;
    width: 100px;
    margin: auto;
    font-size: 125%;
    transition: 0.2s ease;
    text-align: center;
}

.load-icon-container{
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
    border-style: none;
    width: 55px;
}

.load-more-icon{
    fill: none;
    stroke: #000;
    stroke-miterlimit: 10;
    stroke-width: 0.5px;
    height: 10px;
}

.load-button:hover{
    color: green;
}

.bounce {
	animation: bounce 2s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50%{
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}