#dropdown-selection{
    float: right;
    width: 250px;
    height: 50px;
    margin-right: 25px;
    padding: 0 15px;
    background-color: rgba(255,255,255,0.6);
    border: none;
    border-radius: 5px;
    font-size: 110%;
}

#dropdown-selection:focus{
	outline: none;
	box-shadow: 0 0 1pt 0.3pt rgba(0,149,46,1.00);
}

.search-form{
	position: relative;
	min-height: 50px;
	max-width: 780px;
	float: right;
}

#search-input{
	float: right;
	background-color: rgba(255,255,255, 0.6);
	color: rgba(0, 0, 0, 0.7);
	border: 0;
	border-bottom-right-radius: 40px;
	border-top-right-radius: 40px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	height: 50px;
	width: 350px;
	outline: none;
	text-indent: 20px;
	font-size: 20px;
	padding-right: 55px;
	margin-right: 40px;
}

#search-input:focus{
	box-shadow: 0 0 1pt 0.3pt rgba(0,149,46,1.00);	
}

#search:focus{
	box-shadow: 0 0 1pt 0.2pt green;
}

#search_button{
	position: absolute;
	right: 5%;
	top: 0;
	border-radius: 40px;
	border: 0;
	height: 50px;
	width: 50px;
	outline: none;
	background-color: rgba(255,255,255,0.85);
	cursor: pointer;
	margin-left: -45px;
	box-shadow: 0 0 1pt 0.5pt green;
	-webkit-transition: 0.1s ease; 
}

#search_button:hover{
	transform: scale(1.1);
}

#search_button:active{
	transform: scale(1);
}

#search_button:focus {
	box-shadow: 0 0 1pt 0.5pt green;
}

/*"search" symbolet*/
.cls-1{
	fill: none;
	stroke: #000;
	stroke-miterlimit: 1;
}
.cls-3{
	fill:#fff;
}

.filterers{
	float: right;
	font-size: 30px;
	padding: 7px 0;
	color: gray;
}

.fa-sliders-h, .fa-filter{
	cursor: pointer;
	margin-right: 20px;
	transition: 0.3s ease;
}

.fa-sliders-h:hover, .fa-filter:hover, .expanded{
	color: green;
}

.expand-box{
	float: left;
	min-height: 190px;
	width: 93%;
	background-color: rgba(255,255,255,0.6);
	padding: 15px 20px;
	margin: 15px;
	border-radius: 5px;
	animation: fadeMoveDown 0.3s;
}

@keyframes fadeMoveDown {
  0% {
	transform: translateY(-10px);
	opacity: 0.3;
  }
  100% {
	transform: translateY(0);
	opacity: 1;
  }
}