.section-tittle-box{
    box-sizing: border-box;
    clear: both;
    padding: 25px 15px;
}

.section-tittle{
    display: inline-block;
    color:#1d1d1d;
}

.section-tittle:hover{
    cursor: pointer;
    color: rgb(28, 145, 38);
}