.nav-menu{
    position: fixed;
    width: 100%;
    padding: 15px 3%;
    background-color: #000;
    z-index: 10000;
}

#navigation-ul {
    transition: 0.4s ease;
    float: right;
    font-size: 130%;
    margin-top: 10px;
}

.list-element {
    display: inline;
    padding: 0 15px;
}

.list-element a{
    transition: 0.4s ease;
    color: #fff;
}

.list-element a:hover{
    color: #00FF00;
}