.loading-component-container{
    align-content: center;
    position: absolute;
    top: calc(50% - 150px); /*150px is half height of div*/
    left: calc(50% - 150px); /*150px is half width of div*/
}

.loading-icon-svg{
    height: 300px;
    width: 300px;
    padding: 40px;
}

.loading-icon-group{
    transform: translate(25%,25%);
}

.loading-icon{
    fill: white;
    stroke: none;
    transform: translateY(10px) translateX(-3px) scale(0.5);
}

.loading-p1{
    animation: loading 1s infinite;
    animation-delay: 0.2s
}

.loading-p2{
    animation: loading 1s infinite;
    animation-delay: 0.1s
}

.loading-p3{
    animation: loading 1s infinite;
}


@keyframes loading {
    0%{
        transform: translateY(10px) translateX(-3px) scale(0.5);
    }
    50%{
        transform: translateY(-20px) translateX(6px) scale(0.5);
    }
    100%{
        transform: translateY(10px) translateX(-3px) scale(0.5);
    }
}
