.text-box{
    float: left;
    width: 70%;
    min-height: 700px;
    padding: 30px 30px 50px 30px;
    margin-bottom: 10px;
    background-color: rgb(230,230,230);
    font-size: 120%;
}

@media only screen and (max-width: 1000px) {
    .text-box{
        width: 100%;
        margin-bottom: 20px;
        min-height: auto;
    }
}